<%- include ('include/header'); %> 
<%- include ('include/navigation_bar'); %>

<div id="first-div" class="container">
  <!-- put body here -->
  <div class="index-body container">
    <div class="container mx-auto mt-5 text-center">
      <div class="card-header">
        <h1>About <%= appName %></h1>
      </div>

      <div class="card-body text-center">
        <p>
          <%= appName %> is under Otumian Empire, I had this cool name since Senior
          High School - funny name. <%= appName %> is meant to be simple blog for
          posting and asking question mainly about python programming for
          beginners at the time of inception of the thought. You may find
          information on not only python but HTML, CSS, JavaScript and others.
        </p>
      </div>

      <div class="card-header">
        <h1>About Me</h1>
      </div>

      <div>
        <div class="card-body">
          <p>
            I am Otu Michael, in my early twenties, I nearly attended two
            universities, one for Bsc. IT and the other Bsc.
            Mathematics/Comp.Sci . I love to assist others to gain new skills
            and i sometimes teach - I taught Maths and Science in a Junior High
            School. I was also a math tutor. I started programming in my second
            year in Senior High School where i dabbled with Python, Html, Css,
            Javascript, Php, C and CPlusPlus, Java and Kotlin for android, up
            to, almost a years, prior to creating this blog, i change my focus
            and delved into web development. I got better day in day out as I
            either read code, though I get overwhelmed due to the information
            load and sometimes lack of exposure. Oh, I thought I was the only
            programmer in the world until i met Kevin and Joesph.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ('include/footer_section'); %> 
<%- include ('include/footer'); %>
