<%- include ('include/header'); %>
<%- include ('include/navigation_bar'); %>

<div id="first-div" class="container">
  <!-- put body here -->
  <div class="index-body container">
    <!-- check session here -->
    <% if (!session.token || !session.email) { %>
      <div class="card card-login mx-auto mt-1">
        <div class="card-header text-center text-capitalize">
          You can
          <a href="/account/login" class="btn btn-sm btn-primary">Login</a>
          here!!
        </div>
      </div>
    <% } %>

    <div class="container">
      <!-- loop through the article -->
      <% if (articles) { %>
        <% articles.forEach(function(article) { %>
          <div class="article">
            <!-- title -->
            <h2><%= article.title %></h2>
            <!-- date and author's email-->
            <i class="fa fa-calendar"></i>
            <span class="mr-2"><%= article.createdAt %></span>
            <i class="fa fa-user"></i>
            <span class=""><%= article.email %></span>
            <br />
            <hr />

            <!-- content -->
            <p>
              <%= article.content %>
              <a href="/article/<%= article._id %>">
                <span>... leave a comment</span>
              </a>
            </p>
            <!-- add article id -->
          </div>
        <% }) %>
      <% } else { %>
        <div class="card mx-auto mt-5 card-register text-center">
          <div class="card-header text-uppercase">NO Articles</div>

          <div class="card-body text-lowercase">
            <p>
              sorry no articles here yet!! <a href="/article/write">Add</a> an
              article..
            </p>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>

<%- include ('include/footer_section'); %>
<%- include ('include/footer'); %>
