<%- include ('include/header'); %>
<%- include ('include/navigation_bar'); %>

<div id="first-div" class="container">
  <!-- put body here -->
	<div class="index-body container">
		<div class="container">
			<% if (article) { %>
				<div class="card-header">Update Article</div>

				<form
				  action="/api/article/<%= article._id %>"
          id="updateArticleForm"
				  method="PUT">
					<input
            class="form-control rounded-0"
            type="text"
            name="title"
						id="title"
						placeholder="article header.."
            value="<%= article.title %>"
            autofocus />

					<br>
					<div class="text-area">
						<textarea
              name="update_post_content"
              id="content"
							class="p-1 md-textarea form-control rounded-0"
              rows="3"
              placeholder="article body.."
							value=""><%= article.content %></textarea>

						<br>

						<button
              name=""
              type="submit"
              class="btn btn-success btn-block"
							value="">UPDATE ARTICLE</button>
					</div>
				</form>
			<% } %>
		</div>
	</div>

	<!-- include tinymce here -->
	<!--  include ('include/tinymce');  -->
		<!-- <script>
		tinymce.init({
			selector: '#update_post_content'
		});
	</script> -->
</div>

<%- include ('include/footer_section'); %>
<%- include ('include/footer'); %>
