<%- include ('include/header'); %>
<%- include ('include/navigation_bar'); %>

<div id="first-div" class="container">
   <!-- put body here -->
  <div class="index-body container">
    <div class="container">
      <% if (comment) { %>
        <div class="card-header">Update Comment</div>

        <form
          id="updateCommentForm"
          action="/api/comment/<%= comment.id %>"
          method="PUT">
          <div class="text-area">
            <textarea
              name="comment"
              id="comment"
              class="p-1 md-textarea form-control rounded-0"
              rows="3"
              placeholder="comment body.."
              value=""><%= comment.text %></textarea>

            <br>
            <button
              name=""
              type="submit"
              class="btn btn-success btn-block"
              value="">UPDATE COMMENT</button>
          </div>
        </form>
      <% } %>
    </div>
  </div>

  <!-- include tinymce here -->
  <!-- include ('include/tinymce'); -->
  <!-- <script>
    tinymce.init({
      selector: '#update_comment_content'
    });
  </script> -->
</div>

<%- include ('include/footer_section'); %>
<%- include ('include/footer'); %>
